@model ML.Pelis

@{
    ViewBag.Title = "FavoritasGetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Favoritas</h2>
<div class="container">
    <div class="row">
        @foreach (ML.DatosPelicula datos in Model.results)
        {
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="http://image.tmdb.org/t/p/w1280/@datos.poster_path" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">@datos.original_title</h5>
                        <p class="card-text">@datos.overview</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
